<datasource-http-settings current="ctrl.current"></datasource-http-settings>

<!-- Adding just to see if can add more stuff and how to populate it into instanceSettings -->
<!-- Seems like this will really help https://github.com/bosun-monitor/bosun-grafana-datasource/blob/master/src/partials/config.html -->
<!-- This is crazy how ctrl.current is mapped to the instanceSettings in the datasource.js -->
<!-- So if you set thing here, it is just gonna work -->
<!-- Plan is to set multiple url here so that it we can add other sub urls in here. -->
<h3>Multi-Nodes Support</h3>
<gf-form-switch class="gf-form" label="Multi-Nodes" checked="ctrl.current.jsonData.multi" switch-class="max-width-6">
  <label for="check-414" class="gf-form-label pointer" ng-show="ctrl.label">Multi-Nodes</label>
  <div class="gf-form-switch max-width-6" ng-if="ctrl.show">
    <input id="check-414" type="checkbox" ng-model="ctrl.checked" ng-change="ctrl.internalOnChange()" class="ng-pristine ng-untouched ng-valid ng-empty">
    <label for="check-414" data-on="Yes" data-off="No"></label>
  </div>
</gf-form-switch>

<div ng-show='ctrl.current.jsonData.multi' ng-init="ctrl.current.jsonData.urls = ctrl.current.jsonData.urls ? ctrl.current.jsonData.urls : []; newUrl = ''">
  <div class="gf-form-group">
    <div class="gf-form max-width-30">
      <span class="gf-form-label">
        <button type="submit" class="btn btn-outline-primary btn-mini" ng-click="ctrl.current.jsonData.urls.push(newUrl); newUrl=''">Add Url</button>
      </span>
      <input type="text" class="gf-form-input" ng-model="newUrl" spellcheck='false'></input>
      <info-popover mode="right-absolute">This is the test URL part for multi cluster supporting stuff</info-popover>
    </div>
  </div>
  <div class="gf-form max-width-30" ng-repeat="url in ctrl.current.jsonData.urls track by $index">
    <span class="gf-form-label">
      {{url}}
    </span>
    <span class="gf-form-label">
      <button type="submit" class="btn btn-outline-danger btn-mini" ng-click="ctrl.current.jsonData.urls.splice($index, 1)">Remove</button>
    </span>
  </div>
</div>
<br>
