<query-editor-row query-ctrl="ctrl" can-collapse="false">
    <div class="gf-form-inline">
        <div class="gf-form max-width-25">
            <label class="gf-form-label query-keyword width-8">
                Metric
                <label class="gf-form-label" bs-tooltip="ctrl.errors.metric" style="color: rgb(229, 189, 28)"
                       ng-show="ctrl.errors.metric">
                    <i class="fa fa-warning"></i>
                </label>
            </label>
            <input type="text" class="gf-form-input" ng-model="ctrl.target.metric"
                   spellcheck='false' bs-typeahead="ctrl.suggestMetrics" placeholder="metric name" data-min-length=0
                   data-items=100
                   ng-blur="ctrl.targetBlur()">
            </input>
        </div>
        <div class="gf-form gf-form--grow">
            <div class="gf-form-label gf-form-label--grow"></div>
        </div>
    </div>

    <div class="gf-form-group">
        <div class="gf-form-inline">
            <div class="gf-form">
                <label class="gf-form-label query-keyword width-8">
                    Tags
                </label>
            </div>
            <div class="gf-form">
                <label class="gf-form-label">
                    asdfasdf
                </label>
            </div>
            <div class="gf-form gf-form--grow">
                <div class="gf-form-label gf-form-label--grow"></div>
            </div>
        </div>
        <div class="gf-form-inline">
            <div class="gf-form">
                <label class="gf-form-label offset-width-8">
                    asdfasdf
                </label>
            </div>
            <div class="gf-form gf-form--grow">
                <div class="gf-form-label gf-form-label--grow"></div>
            </div>
        </div>
        <div class="gf-form-inline offset-width-8">
            <div class="gf-form">
                <label class="gf-form-label">
                    asdfasdf
                </label>
            </div>
            <div class="gf-form gf-form--grow">
                <div class="gf-form-label gf-form-label--grow"></div>
            </div>
        </div>

    </div>
</query-editor-row>