<div class="gf-form-inline">
    <div class="gf-form offset-width-8">
        <label class="gf-form-label width-5">
            <strong>{{aggregator.type}}</strong>
        </label>
    </div>
    <div class="gf-form" ng-repeat="(parameterName, parameterValue) in aggregator.parameters">
        <label class="gf-form-label">
            {{parameterName}} {{parameterValue}}
        </label>
    </div>
    <div class="gf-form">
        <label class="gf-form-label">
            <a ng-click="ctrl.removeAggregator(aggregator)">
                <i class="fa fa-times"></i>
            </a>
        </label>
    </div>
    <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
    </div>
</div>
