<div class="gf-form-inline">
    <div class="gf-form">
        <label class="gf-form-label offset-width-8 width-5">
            Time
        </label>
    </div>
    <div ng-show="true" class="gf-form">
        <input type="text" ng-model="newGroupByTime.interval"
               bs-tooltip="'Duration of time groups'"
               class="gf-form-input width-5" placeholder="Interval"/>
        <input type="text" ng-model="newGroupByTime.count"
               bs-tooltip="'Number of time groups to be formed'"
               class="gf-form-input width-5" placeholder="Count"/>
    </div>
    <div class="gf-form">
        <label class="gf-form-label">
            <a ng-click="addGroupByTime()">
                <i class="fa fa-plus"></i>
            </a>
        </label>
    </div>
    <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
    </div>
</div>
