<div class="gf-form-group">
    <div class="gf-form-inline">
        <div class="gf-form">
            <label class="gf-form-label query-keyword width-8">
                Group by
            </label>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-5">
                Tag
            </label>
        </div>
        <div class="gf-form" ng-repeat="tagName in ctrl.allowedGroupByTags">
            <label class="gf-form-label">
                <a ng-click="ctrl.toggleGroupByTag(tagName)"
                   ng-class="ctrl.isActiveGroupByTag(tagName) ? 'activeTag' : 'inactiveTag'">{{tagName}}</a>
            </label>
        </div>
        <label class="gf-form-label">
            <a ng-click="ctrl.customGroupByInputOpen">
                <i class="fa fa-plus"></i>
            </a>
        </label>
        {{ctrl.customGroupByInputOpen}}
        <div class="gf-form" ng-show="ctrl.allowedGroupByTags.length == 0">
            <label class="gf-form-label">
                No tags to group by
            </label>
        </div>
        <div class="gf-form gf-form--grow">
            <div class="gf-form-label gf-form-label--grow"></div>
        </div>
    </div>
    <div class="gf-form-inline">
        <div class="gf-form">
            <label class="gf-form-label offset-width-8 width-5">
                <!--todo: mulitple values?-->
                Value
            </label>
        </div>
        <div class="gf-form gf-form--grow">
            <div class="gf-form-label gf-form-label--grow"></div>
        </div>
    </div>
    <div class="gf-form-inline">
        <div class="gf-form">
            <label class="gf-form-label offset-width-8 width-5">
                Time
            </label>
        </div>
        <div class="gf-form gf-form--grow">
            <div class="gf-form-label gf-form-label--grow"></div>
        </div>
    </div>
</div>
