<ng-include src="'public/plugins/kairosdb-datasource/partials/metric.loading.html'" ng-if="!ctrl.datasource.metricNames"></ng-include>
<query-editor-row query-ctrl="ctrl" can-collapse="false" ng-if="ctrl.datasource.metricNames">
    <ng-include src="'public/plugins/kairosdb-datasource/partials/metric.name.row.html'"></ng-include>
    <ng-include src="'public/plugins/kairosdb-datasource/partials/tags.editor.html'"></ng-include>
    <ng-include src="'public/plugins/kairosdb-datasource/partials/group.by.editor.html'" ng-if="!ctrl.tagsLoading && ctrl.allowedGroupByTags"></ng-include>
    <ng-include src="'public/plugins/kairosdb-datasource/partials/aggregators.editor.html'" ng-if="!ctrl.tagsLoading"></ng-include>
</query-editor-row>
