<div class="gf-form-inline" ng-repeat="segment in ctrl.segments">
    <div class="gf-form" ng-if="$first">
        <label class="gf-form-label offset-width-8 width-8" ng-class="{'inactiveTag': ctrl.tagValues.length === 1}">
            <a ng-if="ctrl.tagValues.length > 0">{{ctrl.tagName}}</a>
            <a ng-if="ctrl.tagValues.length === 0">{{ctrl.tagName}}</a>
        </label>
    </div>

    <div class="gf-form">
        <label class="gf-form-label" ng-if="$first">
            <a ng-click="ctrl.removeTag()">
                <i class="fa fa-times"></i>
            </a>
        </label>
    </div>

    <div class="gf-form" ng-class="{'offset-width-18': !$first}">
        <tag-input segment="segment" tag-values="ctrl.tagValues" on-change="ctrl.onChange()"></tag-input>
        <div class="gf-form-label" ng-if="!$last">
            <a ng-click="ctrl.remove(segment)">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
    </div>
</div>
